<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
</head>
<body>
	<h1>HI I'M AN INDEX NOM NOM</h1>
	<form method="GET" action="/search">
    <input type="text" name="mics" placeholder="Search">
    <button>Click Me.</button>
  </form>
</body>
</html>