<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
</head>
<body>
	<h1>HI I'M AN INDEX NOM NOM</h1>
	<h2>Please enter in a city to locate stuff</h2>
	<form method="GET" action="/search">
    <input type="text" name="comedyclubs" placeholder="Search">
    <button>Click Me.</button>
  </form>
</body>
</html>