<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
<body>
	<div class="navbar navbar-inverse navbar-static-top" roles="navigation">
      <div class="container">
          <div class="navbar-header">
        <ul>
          <a href="/login">Login</a>
          <a href="/search">Search</a>
          <a href="/signup">Sign Up</a>
          <a href="/profile">Profile</a>
        </ul>
          </div>
      </div>
  </div>
		<h1>Welcome to the Index Page - Lets Get Started</h1>
		<iframe src="//giphy.com/embed/nJPkKr231dvKo?html5=true" width="480" height="409" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>
	<form>
</body>
</html>