<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
  <div class="navbar navbar-inverse navbar-static-top" roles="navigation">
      <div class="container">
          <div class="navbar-header">
        <ul>
          <a href="/login">Login</a>
          <a href="/search">Search</a>
          <a href="/signup">Sign Up</a>
          <a href="/profile">Profile</a>
        </ul>
          </div>
      </div>
  </div>
 <div class="container">
  <h1>LOGIN HERE</h1>
	<form method="post" action="/login">
  <div>
    <input type="text" name="user[email]" placeholder="Email">
  </div>
  <div>
    <input type="password" name="user[password]" placeholder="Password">
  </div>
  <button>Login</button>
</form>
</body>
</html>