<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The pr0f1l3 page l33t</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>
<body>
	<div class="navbar navbar-inverse navbar-static-top" roles="navigation">
      <div class="container">
          <div class="navbar-header">
        <ul>
          <a href="/login">Login</a>
          <a href="/search">Search</a>
          <a href="/signup">Sign Up</a>
          <a href="/profile">Profile</a>
        </ul>
          </div>
      </div>
  </div>
		<h1>Your Favorite Mics</h1>
		<form method="POST" action="/logout?_method=DELETE">
			<button>Logout</button>
		</form>

		<ul>
			<% favorites.forEach(function(favorite) { %>
			<li>
	        	<%= favorite.name %>
	        </li>
    	<% }) %>
		</ul>
	</div>
	<h1>Go do it for the applause!</h1>
	<iframe src="//giphy.com/embed/4dBAjZ9NUU0DK?html5=true" width="480" height="360" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</body>
</html>