<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top" roles="navigation">
      <div class="container">
          <div class="navbar-header">
        <ul>
          <a href="/login">Login</a>
          <a href="/search">Search</a>
          <a href="/signup">Sign Up</a>
          <a href="/profile">Profile</a>
        </ul>
          </div>
      </div>
  </div>
    <div class="container">
       <div class="row">
           <div class="col-xs-6 col-xs-offset-3">
               <form class="myForm" method="GET" action="/search">
                   <input type="text" name="city" placeholder="City">
                   <button>Search</button>
               </form>
           </div>
       </div>
    <h1>List of Mics </h1>
    <ul>
    <% results.forEach(function(result) { %>
        <li>
            <h1><%= result.name %></h1>
            <form class="favorite" method="POST" action="/favorites">
              <input type="hidden" name="name" value="<%= result.name %>">
              <button type="submit">Favorite This Club</button>
          </form>
    <%    })  %>

</body>
</html>