<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

    <div class="container">
       <div class="row">
           <div class="col-xs-6 col-xs-offset-3">
               <form class="myForm" method="GET" action="/search">
                   <input type="text" name="city" placeholder="City">
                   <button>Search</button>
               </form>

                

           </div>
       </div>


    <h1>List of Mics </h1>
    <ul>
    <% results.forEach(function(results) { %>
        <li>
            <form class="favorite" method="POST" action="/favorite">
              <h1><%= results.name %></h1>
              <button type="submit">Favorite This Club</button>
            </form>
    <%    })  %>

</body>
</html>