<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
  <div class="navbar navbar-inverse navbar-static-top" roles="navigation">
      <div class="container">
          <div class="navbar-header">
        <ul>
          <a href="/login">Login</a>
          <a href="/search">Search</a>
          <a href="/signup">Sign Up</a>
          <a href="/profile">Profile</a>
        </ul>
          </div>
      </div>
  </div>
    <h1>Sign up here</h1>
    <form method="post" action="/signup"> 
    <div>
      <input type="text" name="user[email]" placeholder="Email">
    </div>
    <div>
    <input type="password" name="user[password]" placeholder="Password">
  </div>
  <button>Sign Up</button>
</form>
</body>
</html>

<!-- had a problem here w/ the action="/login" and should've been /signup, now users can sign up correctly 
	be sure to check for correct routing paths whenever similar errors come up 